*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: black;
    height: 100vh;
    display: flex;
    color: white;
    
}

.grey{
    background-color: grey;
    border-radius: 5px;
    padding: 3px;
    font-size: 13px;
}



/* ---------------------------------- */
header{
    display: flex;
    justify-content: end;
    align-items:start;
    width: 100%;
    height: 100px;
    padding: 10px;
}

.view{
    margin-right: 10px;
}

