*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: black;
    height: 100vh;
    display: flex;
    color: white;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    
}

.grey{
    background-color: grey;
    border-radius: 5px;
    padding: 3px;
    font-size: 13px;
}



/* ---------------------------------- */
header{
    display: flex;
    justify-content: end;
    align-items:start;
    width: 100%;
    height: 10vh;
    padding: 10px;
}

.view{
    margin-right: 10px;
}

/* ---inizio main---- */
.immagini{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    height: 90vh;
    width: 1200px;
    
}

.image{
    position: relative;
   width:calc(1200px / 7 - 5px);
   margin-left: 5px;
  
}

.image>img{
    width: 100%;
}

.utente{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.151);
    font-size: 12px;
    bottom:25%;
    padding: 5px 5px;
}




/* --inizio footer-- */

footer{
    display: flex;
    width:100%;
    height:10vh;
    background-color: rgb(24, 22, 22);
}


